@font-face {
  font-family: "Montagna";
  src: url(fonts/MontagnaLTD/Montagna\ LTD.otf);
}
@font-face {
  font-family: "Playfair";
  src: url(fonts/PlayfairDisplay/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
  font-family: "OpenSans";
  src: url(fonts/OpenSans/OpenSans-VariableFont_wdth\,wght.ttf);
}

:root {
  --primary-color : #0A0E0F;
  --second-color: #21212B;
  --third-color: #BDBDBD;
}


* {
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "OpenSans";
}

body{
  background-color: rgb(28, 28, 28);
}

/*nav style*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 40px;
  width: 100%;
  padding: 0 30px; 
}

#title{
  font-family: "Montagna";
  width: 50%;
}
nav ul{
  width: 50%;
  display: flex;
  font-weight: 500;
  justify-content: space-around;
}

/*banner perfil*/
.perfil {
  margin-top: 50px;
  margin: 50px;
  height: 80%;
  display: flex;
  align-items: center;

}
.img-perfil::before{
  content: '';
  z-index: -5;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 80%;
  background-color: var(--primary-color);
  clip-path: polygon(0 0, 25% 0, 100% 100%, 0% 100%);
}

.img-perfil{
  width: 70%;
  display: flex;
  justify-content: center;
}

#img-perfil{
 
  border-radius: 50%;
}

.texto-perfil{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: bolder;
  font-size: xx-large;
}

/*hey perfil*/
.rotate{
  width: fit-content;
  position: absolute;
  top: 10%;
  right: 40%;
  rotate: -20deg;
  
}

.rotate p{
  display: inline;
}

.rotate p:last-child{
  animation: hey 800ms alternate infinite;
}

@keyframes hey {
  to{
    opacity: 0;
  }
}


/*btn saiba mais*/

.btn{
  margin-top: 50px;
  padding: 10px 15px;
  font-size: large;
  font-weight: bolder;
  color: black;
}


/*cards portifolio*/

.portifolio{
  width: 100%;
  padding: 20px 50px;
  
}

.portifolio h2{
  font-size: 2rem;
  margin-bottom: 30px;
}

.portifolio h2::after{
  content: "";
  position: absolute;
  top: 540px;
  width: 100px;
  border: white solid 2px;
}

.cards-portifolio{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}
.card{
  background-color: var(--second-color);
  width: 400px;
  height: 500px;
  margin: 0 20px 30px 0;
}

.img-card{
  height: 200px;
  overflow: hidden;
}

.card-content{
  padding: 15px;
}

.card-title{
  font-size: large;
  font-weight: bold;
}