@font-face {
  font-family: "Montagna";
  src: url(fonts/MontagnaLTD/Montagna\ LTD.otf);
}

@font-face {
  font-family: "HelveticaNeue";
  src: url(fonts/HelveticaNeue/helveticaneue.ttf);
}

:root {
  --primary-color: #0A0E0F;
  --background-color: #1b1b1b;
  --second-color: #323239;
  --third-color: #BDBDBD;
}


* {
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "HelveticaNeue";
}

input,
textarea {
  padding: 0 15px;
  letter-spacing: 1px;
  color: white;
  font-size: 14px;
  resize: none;
  background-color: transparent;
}

input {
  height: 30px;
}

input:hover,
textarea:hover {
  border-width: 2px;
}

input:focus,
textarea:focus {
  border-width: 2px;
}

textarea {
  border: white 1px solid;
}

input {
  margin-bottom: 10px;
  border-bottom: white 1px solid;
}

label {
  margin-bottom: 10px;
}

.w-100 {
  width: 100%;
}

.center {
  justify-content: center;
  align-items: center;
}

.f-col {
  display: flex;
  flex-direction: column;
}

.f-row {
  display: flex;
  flex-direction: row;
}

body {
  background-color: var(--background-color);
}

/*nav style*/
header {
  position: sticky;
  top: 0;
  z-index: 5;
}

.nav {
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 50px;
  padding: 0 30px;
  border-bottom: white 1px solid;
}

#title {
  font-family: "Montagna";
  font-size: large;
  width: 50%;
}

ul {
  width: 50%;
  height: 100%;
  font-weight: 300;
  justify-content: space-around;
}

nav li {
  width: 100%;
  height: 100%;
}

li:hover a {
  border-bottom: white 2px solid;
}

ul .active,
ul .active a {
  box-sizing: content-box;
  background-color: white;
  color: black;
  border-bottom: #000000 2px solid;
}

/*banner perfil*/
.perfil {
  padding: 50px;
  align-items: center;

}

.img-perfil::before {
  content: '';
  z-index: -5;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 500px;
  background-color: black;
  clip-path: polygon(0 0, 25% 0, 100% 100%, 0% 100%);
}

.img-perfil {
  width: 70%;
  justify-content: center;
}

#img-perfil {
  border-radius: 50%;
}

.content-perfil {
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  font-weight: bolder;
  font-size: xx-large;
}

.texto-perfil {
  height: 60%;
  justify-content: flex-end;
}

.btn-perfil {
  height: 40%;
}

/*hey perfil*/
.hey-perfil {
  width: fit-content;
  position: absolute;
  top: 10%;
  right: 40%;
  rotate: -20deg;

}

.hey-perfil p {
  display: inline;
}

.hey-perfil p:last-child {
  animation: hey 800ms alternate infinite;
}

@keyframes hey {
  to {
    opacity: 0;
  }
}


/*btn*/

.btn {
  margin-top: 50px;
  padding: 10px 25px;
  font-size: large;
  font-weight: bolder;
  color: black;
}

.btn-second {
  background-color: transparent;
  color: white;
  border: 2px white solid;
}

.btn-primary:hover {
  color: white;
  background-color: #000000;
  border: white 2px solid;
}

.btn-second:hover {
  color: black;
  background-color: white;
}

/*cards portfolio*/

#portfolio {
  padding: 25px 50px;

}

h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}


.cards-portfolio {
  flex-wrap: wrap;
  justify-content: space-around;

}

.card {
  background-color: var(--second-color);
  width: 400px;
  height: 500px;
  margin: 0 20px 30px 0;
}

.img-card {
  height: 200px;
  overflow: hidden;
}

.card-content {
  padding: 15px;
}

.card-title {
  font-size: large;
  font-weight: bold;
}

/*Contato*/

.contato {
  background-color: black;
  padding: 25px;
  justify-content: space-between;
  align-items: flex-start;
}

.contatos {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.ctt {
  width: 40%;
  padding: 15px;
  height: 100px;

}

.ctt .social-media {
  margin-top: 10px;
  padding: 10px;
}

.form-contato form {
  justify-content: space-evenly;
}

.form-contato {
  margin-top: 30px;
  padding: 20px 30px;
}

.form-inputs {
  width: 40%;
}

/*Footer*/

footer {
  padding-top: 20px;
  background-color: #000000;
  height: 150px;
  justify-content: center;
}

.social-media {
  border-top: white solid 2px;
  padding: 25px;
}

.social-media a {
  margin-right: 20px;
  font-size: 20px;
}

.social-media a:hover {
  border-bottom: 1px white solid;
}