/* small devices*/
@media only screen and (max-width: 870px) {
  
  body{
    background-color: white;
  }

  /*nav*/
  header .nav{
    justify-content: center;
    background-color: white;
    padding: 0;
    height: 50px;
    border-bottom: rgb(0, 0, 0) 2px solid;
  }

  header #title{
    color: black;
  }

  #title{
    text-align: center;
  }

  .dropdown{
    position: absolute;
    display: inline-block;
    width: 100%;
  }
  .dropbtn{
    display: block;
    float: right;
    width: 50px;
    height: 100%;
    border-bottom: rgb(0, 0, 0) 1px solid;
  }

  .dropbtn i{
    display: block;
    color: black;
    font-size: 24px;
  }

  .dropdown-content{
    display: none;
    
  }

  .dropdown-content ul{
    flex-direction: column;
    
  }

  .dropdown-content li{
     background-color: white;
     border-bottom: 1px black solid;
  }

  .dropdown-content li a{
    color: rgb(0, 0, 0);
  }

  header nav li:hover a {
    border-bottom: rgb(0, 0, 0) 2px solid;
  }
  
  ul .active,
  ul .active a {
    box-sizing: content-box;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-bottom: #ffffff 2px solid;
  }

  .dropbtn:hover ~ .dropdown-content,
  .dropdown-content:hover{
    display: block;
  }

  /*perfil*/

  .perfil{
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
  }

  .img-perfil{
    width: 100%;

  }

  .img-perfil::before{
    display: none;
  }


  .content-perfil{
    width: 100%;
    align-items: center;
  }

  .texto-perfil p:first-child{
    margin-top: 20px;
  }

  /*hey perfil*/
  .hey-perfil {
    position: relative;
    top: 0;
    right: 40%;
    rotate: -20deg;

  }

  /*portfolio*/

  .card{
    width: 100%;
  }

  /*contato*/
 .ctt{
  width: 100%;
 }

 #form-contato{
  flex-direction: column;
 }

 .form-inputs{
  width: 100%;
 }

 /*footer*/
 footer .nav{
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 footer .nav ul{
  margin: 20px 0;
 }
}

/* Medium devices */
@media only screen and (min-width: 870px) {
  
}

/* Large devices */
@media only screen and (min-width: 1000px) {
  
}