/* small devices*/
@media only screen and (max-width: 870px) {
  
  section{
    padding: 70px 20px;
  }

  /*banner perfil*/

  .banner-perfil .content-perfil{
    font-size: 7vw;
  }

  /*nav*/
  header .nav{
    justify-content: center;
    padding: 0;
  }

  .nav #title{
    padding: 0;
    text-align: center;
  }

  header .nav .dropdown{
    position: absolute;
    display: inline-block;
    width: 100%;
  }
  header .nav .dropbtn{
    display: block;
    float: right;
    width: 50px;
    height: 100%;
  }

  header .nav .dropbtn i{
    display: block;
    color: black;
    font-size: 24px;
  }

  header .nav .dropdown-content{
    display: none; 
  }

  header .nav .dropdown-content ul{
    flex-direction: column;
  }

  header .nav .dropdown-content li{
    background-color: white;
    border-bottom: 1px black solid;
  }

  header .nav ul .active,
  header .nav ul .active a {
    box-sizing: content-box;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-bottom: #ffffff 2px solid;
  }

  header .nav .dropbtn:hover ,
  header .nav .dropbtn:hover i{
    color: white;
    background-color: rgb(0, 0, 0);
  }

  header .nav .dropbtn:hover ~ .dropdown-content,
  header .nav .dropdown-content:hover{
    display: block;
  }

  /*perfil*/

  .perfil-container{
    flex-direction: column;
  }

  .perfil .content-container {
    width: 100%;
  }

  .perfil .content-perfil{
    flex-direction: column;
  }

  .perfil .content-perfil .content-col {
    width: 100%;
    margin: 15px 0;
  }

  .perfil .img-perfil::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 400px;
    left: 0;
    width: 100%;
    height: 800px;
    background-color: black;
    clip-path: polygon(0 0, 5% 0, 100% 100%, 0% 100%);
  }

  /*portfolio*/

  .card{
    width: 100%;
    margin: 20px 0;
  }

  /*contato*/
 .ctt{
  width: 100%;
 }

 #form-contato{
  flex-direction: column;
 }

 .form-inputs{
  width: 100%;
 }

 /*footer*/
 footer .nav{
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 footer .nav ul{
  margin: 20px 0;
  width: 100%;
 }

 /*carousel portfolio*/
 .project .carousel-main .img-h{
  width: 100%;
  height: auto;
}

 .project .carousel-project-main {
  height: 80vw;
 }

 .project .carousel__actions button {
  width: 30px;
  height: 30px;
}
}

/* Medium devices */
@media only screen and (min-width: 870px) and (max-width: 1000px) {

  /*banner perfil*/

  .banner-perfil .content-perfil {
    font-size: 5vw;
  }
  
  /*perfil*/

  .perfil .content-perfil{
    flex-direction: column;
  }

  .perfil .content-perfil .content-col {
    width: 100%;
    margin: 15px;
   
  }

  .perfil .img-perfil::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 450px;
    left: 0;
    width: 40%;
    height: 105vw;
    background-color: black;
    clip-path: polygon(0 0, 5% 0, 100% 100%, 0% 100%);
  }

  /*portfolio*/

  .card{
    width: 40%;
  }
}

/* Large devices */
@media only screen and (min-width: 1000px) {
  
}