<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Html5</title>
  <script src="https://kit.fontawesome.com/19aa335e4a.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="/static/css/tecnologias.css">
  <link rel="stylesheet" href="/static/css/mquery.css">
</head>

<body>
  <header>
    <nav class="nav w-100 f-row">
      <div id="title">STEPHANIE CAMPELO</div>
      <div class="dropdown">
        <button title="menu" class="dropbtn"><i class="fa-solid fa-bars"></i></button>

        <ul class="f-row dropdown-content w-100">
          <li id="nav-home" class="f-row center"><a href="/index.html#home">Home</a></li>
          <li id="nav-perfil" class="f-row center"><a href="/index.html#perfil">Perfil</a></li>
          <li id="nav-portfolio" class="f-row center active"><a href="/index.html#portfolio">Portfólio</a></li>
          <li id="nav-contato" class="f-row center"><a href="/index.html#contato">Contato</a></li>
        </ul>

      </div>
    </nav>
  </header>

  <main class="tecnologia">
    <h1 class="f-row center w-100">HTML 5</h1>
    <div class="f-row tecnologia-content">
      <div class="logo f-row center">
        <img src="/static/img/tecnologias/tecnologias-logos/html5-logo.png" width="200px" alt="">
      </div>
      <div class="tecnologia-descricao">
        <div class="sobre col">
          <h2>O que é HTML5 ?</h2>
          <p>
            HTML5 é uma linguagem de marcação de tecnologia central da Internet usada para estruturar e apresentar conteúdo para a World Wide Web. A partir de outubro de 2014, esta é a quinta revisão final e completa do padrão HTML do World Wide Web Consortium (W3C).
          </p>
          <div class="f-row center">
            <a class="btn btn-second" href="https://html.spec.whatwg.org/multipage" target="_blank" rel="noopener noreferrer">Site oficial</a>
          </div>
        </div>
  
        <div class="f-row cols">
          <div class="col">
            <h3>Vantagens</h3>
            <ul>
              <li>Suporte multimídia</li>
              <li>Sintaxe curta e simples</li>
              <li>Recursos de segurança aprimorados</li>
              <li>Incluir marcas semânticas</li>
              <li>Suporte entre plataformas</li>
            </ul>
          </div>
          <div class="col">
            <h3>Desvantagens</h3>
            <ul>
              <li>Renderização do lado do cliente</li>
              <li>O armazenamento local é menos seguro</li>
              <li>Diferentes suportes de vídeo para diferentes navegadores</li>
              <li>Custo de licenciamento de mídia</li>
              <li>Não suporta navegadores antigos</li>
            </ul>
          </div>
        </div>

        <div class="empresas col">
          <h3>Quem usa HTML 5 ?</h3>
          <ul class="f-row center">
            <li >
              <a class="f-col center" href="https://www.alibaba.ir/" target="_blank" rel="noopener noreferrer">
                <img src="/static/img/tecnologias/empresas-logo/alibaba-travels-logo.png" alt="Alibaba Travels">
                Alibaba Travels
              </a>
            </li>
            <li >
              <a class="f-col center" href="https://www.udemy.com/" target="_blank" rel="noopener noreferrer">
                <img src="/static/img/tecnologias/empresas-logo/udemy-logo.png" alt="">
                Udemy
              </a>
            </li>
            <li >
              <a class="f-col center" href="https://www.reddit.com" target="_blank" rel="noopener noreferrer">
                <img src="/static/img/tecnologias/empresas-logo/reddit-logo.png" alt="">
                Reddit
              </a>
            </li>
            <li >
              <a class="f-col center" href="http://deliveryhero.com/" target="_blank" rel="noopener noreferrer">
                <img src="/static/img/tecnologias/empresas-logo/delivery-hero-logo.png" alt="">
                Delivery Hero
              </a>
            </li>
            <li >
              <a class="f-col center" href="https://cred.club/" target="_blank" rel="noopener noreferrer">
                <img src="/static/img/tecnologias/empresas-logo/cred-logo.png" alt="">
                CRED
              </a>
            </li>
            <li >
              <a class="f-col center" href="https://www.lyft.com/" target="_blank" rel="noopener noreferrer">
                <img src="/static/img/tecnologias/empresas-logo/lyft-logo.png" alt="">
                Lyft
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>



  <footer class="f-col">
    <div class="nav f-row">
      <div id="title">STEPHANIE CAMPELO</div>
      <ul class="f-row">
        <li><a href="/index.html#home">Home</a></li>
        <li><a href="/index.html#perfil">Perfil</a></li>
        <li><a href="/index.html#portfolio">Portfólio</a></li>
        <li><a href="/index.html#contato">Contato</a></li>
      </ul>
    </div>
    <ul class="social-media w-100 center f-row">
      <li>
        <a target="_blank" href="https://github.com/steph-cs">
          <i class="fa-brands fa-github"></i>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://www.linkedin.com/in/stephanie-campelo/">
          <i class="fa-brands fa-linkedin-in"></i>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://www.instagram.com/ste_campelo/">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://twitter.com/steph_campelo">
          <i class="fa-brands fa-twitter"></i>
        </a>
      </li>
    </ul>
  </footer>
</body>

</html>